
<div class="login-wrapper">

    <div class="login-top">

        <h2 class="login-header">ログイン</h2>

        <p>こちらからアカウントにログインして下さい</p>

    </div>


    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="fields">

        <div class="field">
            
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>


        <div class="field">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>

        <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        </div>

        <div class="actions">
            <%= f.submit "Log in" %>
        </div>

    </div>
        <% end %>



</div>
            <% end %>




     <%= render "users/shared/links" %>

