<div class="main">

    <div class="top-wrapper">
        <h1>SoccerMatchで サッカーをより日常に</h1>
        <p>〜サッカーをもっと楽しむためのSNS〜</p>
        <a href="/posts" class="btn">募集一覧</a>
    </div>




    <div class="content-wrapper">


        <h4>SoccerMatchでできる3つのこと</h4>


        <div class="contents">

            <div class="content">
                <p>仲間を募集する</p>
                <i class="fas fa-users icon"></i>
            </div>

            <div class="content">
                <p>試合に参加する</p>
                <i class="fas fa-futbol icon"></i>
            </div>


            <div class="content">
                <p>試合を組む</p>
                <i class="far fa-handshake icon"></i>
            </div>


        </div>

    </div>











    <div class="home-field-wrapper">



        <div class="container">

            <h3>Field</h3>


            <div class="home-fields">

                <div class="home-field">

                    <h4>サッカー</h4>

                    <p class="home-field-content">
                        現在サッカーは、200を越える国と地域で、2億5千万人を超える選手達によってプレーされており、4年に一度行われるFIFAワールドカップのテレビ視聴者数は全世界で通算300億人を超えており、世界で最も人気のあるスポーツと言われている。
                    </p>
                </div>

                <div class="home-field">

                    <h4>ソサイチ</h4>

                    <p class="home-field-content">
                        ブラジルでは、ソサイチと呼ばれ、
                        サッカーコートの1/4サイズ、GKを含め7人対7人の人数で行われ、男女共にジュニアの育成年代からシニアまでの生涯スポーツとして、さらには競技（リーグ・国際大会など)としても盛んに行われている。
                    </p>
                </div>


                <div class="home-field">

                    <h4>フットサル</h4>

                    <p class="home-field-content">5対5のミニサッカー。25〜42×15〜22mのコートで行われ、ゴールサイズも2×3m。南米ではサロン・フットボールと呼ばれる弾まないボールを使っての室内サッカーが盛んに行われている。</p>
                </div>



            </div>
        </div>


        <div class="contents2">

        </div>

    </div>

</div>