<%= form_with(model: post, local: true) do |form| %>

<div class="apply-create">



    <div class="apply-header">

        <h4>募集情報の新規作成</h4>

    </div>


    <div class="apply-forms">


        <div class="apply-form">
            <%= form.label :分野 %>
            <%= form.select :field, [["サッカー","サッカー"],["ソサイチ","ソサイチ"],["フットサル","フットサル"]],id: :post_field %>
        </div>


        <div class="apply-form">
            <%= form.label :タイトル %>
            <%= form.text_field :title, id: :post_title %>
        </div>

        <div class="apply-form">
            <%= form.label :開催日 %>
            <%= form.date_field :event_date, id: :event_date %>
        </div>

        <div class="apply-form">
            <%= form.label :募集期限 %>
            <%= form.date_field  :application_deadline, id: :post_applicationdeadline %>
        </div>

        <div class="apply-form">
            <%= form.label :開催エリア %>
            <%= form.select :holding_area,[["北海道","北海道"],["青森","青森"],["岩手","岩手"],["宮城","宮城"],["秋田","秋田"],["山形","山形"],["福島","福島"],["茨城","茨城"],["栃木","栃木"],["群馬","群馬"],["埼玉","埼玉"],["千葉","千葉"],["東京","東京"],["神奈川","神奈川"],["新潟","新潟"],["富山","富山"],["石川","石川"],["福井","福井"],["山梨","山梨"],["長野","長野"],["岐阜","岐阜"],["静岡","静岡"],["愛知","愛知"],["三重","三重"],["滋賀","滋賀"],["京都","京都"],["大阪","大阪"],["奈良","奈良"],["和歌山","和歌山"],["鳥取","鳥取"],["島根","島根"],["岡山","岡山"],["広島","広島"],["山口","山口"],["徳島","徳島"],["香川","香川"],["愛媛","愛媛"],["高知","高知"],["福岡","福岡"],["佐賀","佐賀"],["長崎","長崎"],["熊本","熊本"],["大分","大分"],["宮崎","宮崎"],["鹿児島","鹿児島"],["沖縄","沖縄"]],id: :post_holding_area %>
        </div>

        <div class="apply-form">
            <%= form.label :会場 %>
            <%= form.text_field :venue, id: :post_venue  %>
        </div>

        <div class="apply-form">
            <%= form.label :定員 %>
            <%= form.number_field :capacity, id: :post_capacity %>人
        </div>

        <div class="apply-form">
            <%= form.label :費用 %>
            <%= form.number_field :cost, id: :post_cost %>円
        </div>

        <div class="apply-form">
            <%= form.label :年代 %>
            <%= form.select :age, [["指定なし","指定なし"],["10代","10代"],["20代","20代"],["30代","30代"],["40代","40代"],["50代","50代"],["60歳以上","60歳以上"]],id: :post_age %>
        </div>

        <div class="apply-form">
            <%= form.label :コメント %>
            <%= form.text_area :comment, id: :comment  %>
        </div>




        <div class="actions">
            <%= form.submit %>
        </div>


    </div>





</div>

<% end %>