<div class="index-body-wrapper">




    <h3>募集情報一覧</h3>



    <ul class="posts-lists">



        <% @posts.each do |post| %>

        <li class="posts-list">

            <div class="posts-title">
                <h4><%= link_to(post.title, post) %></h4>
            </div>

            <div class="posts-info">

                <p>分野:<%= post.field %></p>
                <p>開催日:<%= post.event_date %></p>
                <p>開催地:<%= post.venue%></p>


                <p>定員:<%= post.capacity %>人</p>
                <p>費用:<%= post.cost %>円</p>

            </div>

            <% if post.user == current_user %>
                <%= link_to '編集', edit_post_path(post) %> |
                <%= link_to '削除', post, method: :delete, data: { confirm: '本当によろしいですか' } %>
            <% end %>

        </li>

        <br>

        <%end%>



    </ul>


</div>