<div class="show-wrapper">


    <div class="post-show-item">
        <h4><%= @post.title %></h4>
        <a href=" " class="apply-btn">応募する</a>

        <div class="post-show-info">

            <p>募集者：</p>
            <p>開催日：<%= @post.event_date %></p>
            <p>応募締め切り：<%= @post.application_deadline %></p>
            <p>開催地：<%= @post.holding_area %></p>
            <p>会場：<%= @post.venue %></p>
            <p>定員：<%= @post.capacity %>人</p>
            <p>費用：<%= @post.cost %>円</p>
            <p>年代：<%= @post.age %></p>
            <p>コメント：<%= @post.comment %></p>

        </div>

    </div>


    <% if  @post.user == current_user %>
        <%= link_to '編集', edit_post_path(@post) %> |
    <% end %>
    <%= link_to '戻る', posts_path %>


</div>