@import "bootstrap-sprockets";
@import "bootstrap";





header a {
    color: white;
}


header a:hover {
    color: white;
}

footer a {
    color: white;
}


footer a:hover {
    color: white;
}


header {
    background-color: black;
    opacity: 0.8;
    height: 50px;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0px;
}


.header-logo {
    font-family: 'Sacramento', cursive;
    float: left;
    color: white;
    margin-left: 80px;
    padding-top: 5px;
}





.header-menu li {
    float: left;
    margin-right: 30px;
}


.header-menu {
    float: right;
    padding-top: 15px;
    padding-right: 50px;
    height: 8px;
    color: white;
    font-family: 'Sacramento', cursive;
}


.header-login li {
    float: left;
    margin-right: 10px;
}





ul {
    list-style-type: none;
}



footer {
    background-color: black;
    opacity: 0.8;
    height: 120px;
    width: 100%;
}

.footer-logo {
    float: left;
    padding-top: 20px;
    padding-left: 50px;
    font-family: 'Sacramento', cursive;
    color: white;
}

.footer-menu {
    float: right;
    padding-top: 30px;
    padding-right: 60px;
}

.footer-menu li {
    float: left;
    padding-right: 10px;
}



.main {
    height: 1700px;
}


.top-wrapper {
    text-align: center;
    background-image: url(fancy-crave-qowyMze7jqg-unsplash.jpg);
    background-size: cover;
    height: 35%;
}


.top-wrapper h1 {
    text-align: center;
    margin: 0;
    padding-top: 215px;
    
}

.top-wrapper p {
    text-align: center;
}



.btn {
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    color: white;
    width: 150px;
}



.content-wrapper {
    height: 30%;
}


.content-wrapper h4 {
    text-align: center;
    padding-top: 40px;
}


.contents {
    text-align: center;
    padding-top: 70px;
}



.content {
    float: left;
    width: 33%;
}






.home-field-wrapper {
    height: 35%;
    background-image: url(sandro-schuh-HgwY_YQ1m0w-unsplash.jpg);
    background-size: cover;
}



.container {
    width: 70%;
}


.home-field-wrapper h3 {
    text-align: center;
    padding-top: 50px;
}

.home-field-wrapper h4 {
    opacity: 0.8;
}


.home-field {
    float: left;
    width: 33.3%;
    display: inline-block;
    text-align: center;
    padding: 50px;
}





.home-field-content {
    margin-top: 40px;
    opacity: 0.7;
    color: white;
}






.icon {
    padding-top: 55px;
    font-size: 6em;
}



.main-posts-index {
    padding-top: 50px;
}






.apply-create {
    margin-top:80px;

}



.apply-header {
    text-align: center;
}




.apply-forms {
    padding-top:20px;
    width: 55%;
    border: 3px solid #eb6101;
    margin:auto;
    margin-top: 20px ;
    margin-bottom:40px;
}



.apply-form {
    text-align: center;
    padding: 20px;
}


.actions {
    text-align: center;
    padding: 30px;
}






.index-body-wrapper {
    margin-top: 50px;
    padding: 100px 200px;
}


.index-body-wrapper > h3 {
    text-align: center;
}


.posts-list {
    display: block;
    border-top: solid 1px;
}



.posts-title {
    color: black;
}

.posts-title:hover {
    color: black;
}



.posts-info > p {
    float: left;
    padding-right: 10px;
}




.show-wrapper {
    margin-top: 50px;
    margin: auto;
    height: 1000px;
    width: 50%;
}


.post-show-item {
    text-align: center;
    padding-top: 100px;
}


.post-show-info {
    padding-top: 50px;
}



.post-show-info > p {
    border-top: solid 1px;
    line-height: 30px;
}

.apply-btn {
    border: 1px solid orange;
    border-radius: 4px;
    background-color: orange;
    padding: 8px 50px;
    text-align: center;
    color: white;
}

.login-wrapper{
    margin-top:50px;
}


.login-header {
    color: #00828C;
}

.login-top{
    text-align:center;
    padding-top:30px;
}



.fields {
    padding:50px;
    text-align: center;
    border: solid 1px #008080;
    margin:auto;
    width:50%;
}

.field{
    padding-top:10px;
}


.wrapper{
    margin-top:100px;
}




.signup-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}


.signup-header {
    color: #00828C;
}


.signup-top {
    text-align: center;
    padding-top: 30px;
}
