<!DOCTYPE html>
<html>
  <head>
    <title>SoccerMatchNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <header>


          <div class="header-logo">
              <h4><a href="/">SoccerMatch</a></h4>
          </div>
          <ul class="header-menu">
              <li><a href="/posts/index">募集一覧</a></li>
              <li><a href="/posts/new">募集したい</a></li>
              <% if user_signed_in? %>
                <li><a href="/users/sign_out">Logout</a></li>
              <% else %>
              <li><a href="/users/sign_up">Sign Up</a></li>
              <li><a href="/users/sign_in">Login</a></li>
              <% end %>

          </ul>
      </header>

     

      <%= yield %>


      <footer>
          <div class="footer-logo">
              <h4><a href="/home/top">SoccerMatch</a></h4>
          </div>
          <ul class="footer-menu">
              <li><a href="#">募集一覧</a></li>
              <li><a href="#">募集したい</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
          </ul>
      </footer>



  </body>
</html>
