
<div class="signup-wrapper">

    <div class="signup-top">


        <h2 class="signup-header">アカウントを作成</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="fields">

            <div class="field">
                <%= f.label :username %><br />
                <%= f.text_field :username, class: "form-control" %>
            </div>


            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(最低<%= @minimum_password_length %>文字 )</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
                <%= f.submit "Sign up" %>
            </div>

        </div>

        <% end %>

    </div>

</div>



<%= render "users/shared/links" %>
